.outer {
    box-shadow: 5px 10px red;
    background-origin: padding-box;
}
.body {
    background: #314755;
background: -webkit-linear-gradient(to right, #26a0da, #314755); 
background: linear-gradient(to right, #26a0da, #314755); 
 }